* {
    margin: 0;
}

html,body {
    height: 100%;
}

body {
    background: linear-gradient(to top, 
    rgb(106, 255, 191),
    rgb(181, 252, 153),white);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
input,textarea,label{
    display: block;
    text-align: center;
    margin: auto;
}

input,label {
    margin-top: 10px;
}

input,textarea {
    background-color: blueviolet;
}
 

.radio {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

