html body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(galaksi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.box {
  border: 3px solid;
  border-radius: 15px;
  box-shadow: 2px 1px 10px white;
  padding: 20px 10px;
  width: 200px;
  text-align: center;
  height: fit-content;
  margin-top: 50px;
}
.box input {
  display: block;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(
    270deg,
    #a9248c,
    #d9d1ff,
    #772dc2,
    #a9248c
  );
  box-shadow: 0 0 5px white;
}

input::placeholder {
  color: black;
  opacity: .6;
  font-weight: bold;
}



.box h2 {
  background: linear-gradient(to right, #ff87fd 15%, #d9d1ff 30%, #772dc2 70%,#d9d1ff);
  color: transparent;
  background-clip: text;
  width: 70px;
  margin: auto;
  margin-bottom: 30px;
  animation:  gradientShift 4s infinite ease-out;
}

.box input:focus {
  background: linear-gradient(
    270deg,
    #a9248c,
    #d9d1ff,
    #772dc2,
    #a9248c
  );
  background-size: 400% 400%;
  animation:  gradientShift 4s infinite ease-out;
  
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box button {
  margin: auto;
  margin-top: 20px;
}

.box p {
  text-shadow: 0 0 3px white;
  font-weight: bold;
  font-size: 12px;
  margin-top: 30px;
}

.btn-grad {
  background: linear-gradient(
    270deg,
    #a9248c,
    #d9d1ff,
    #772dc2,
    #a9248c
  );
}
.btn-grad {
  margin: 10px;
  padding: 10px 70px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  animation: gradientShift 2s infinite ease-in-out;
}
