@font-face {
  font-family: "bebas";
  src: url(BebasNeue-Regular.ttf), format(truetype);
}

body {
  background-image: url(hutan.jpg);
  background-repeat: no-repeat;background-size: cover;
}

div {
  display: block;
}

header .box {
  /* border: 2px solid black; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  width: 83%;
  margin: auto;
  font-family: bebas;
  letter-spacing: 3px;
  box-shadow: 0 0 8px;
}

.box h1 {
  font-size: 50px;
  color: white;
  text-shadow: 0 0 6px black;
}

.box h3 {
  margin-top: -20px;
  color: white;
  text-shadow: 0 0 6px black;
}

.iklan {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.iklan img {
  border-radius: 20px;
  width: 35%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
  border-radius: 20px;
}





.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.kartu {
  width: 280px;
  height: 380px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  overflow: hidden;
  border-radius: 10px;
  /* animation: atasBawah 2s infinite ease-in-out; */
}

.kartu img {
  width: 100%;
  height: 200px;
}

.kartu h2 {
  top: 0;
  display: inline;
  color: white;
  
}

.card-body {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-body h3 {
  margin-top: -10px;
  color: rgb(58, 215, 183);
}

.card-body h2 {
  font-family: bebas;
}

@keyframes atasBawah {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #e5e5be 51%,
    #003973 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad a {
  text-decoration: none;
  font-weight: 300;
  color: white;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
