.judul {
    text-align: center;
    background-color: antiquewhite;
    width: 40%;
    height: 100px;
    margin: auto;
    border-radius: 12px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
}

.judul h1 {
    color: brown;
    line-height: 100px;
}

.jawab {
    text-align: center;
    font-size: 20px;
    background-color: aquamarine;
    width: 55%;
    height: 80px;
    margin: auto;
    border-radius: 12px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    margin-top: 80px;
    line-height: 72px;
}